@import 'variables';

.button {
  padding: 10px 15px;
  text-transform: uppercase;
  border: none;
  color: $white;
  cursor: pointer;
  transition: all 0.5s ease;
}

.button__block {
  width: 100%;
}

.button__purple {
  background: $purple;

  &:hover {
    background: $light-purple;
  }
}

.button__success {
  background: $green;
  &:hover {
    background: $light-green;
  }
}