@import 'variables';

.login {
  height: 100vh;
}

.login__background {
  background: url("Overtime.png") center center no-repeat;
  background-size: cover;
  display: block;
  max-width: 100%;
}

.login__form {
  margin-top: 20vh;
}

.login__title {
  color: $black;
}

.login__form__space {
  margin-bottom: 5px;
}

.login__link {
  color: $gray;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}